.Backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 95rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
}

.BackdropOpen {
  display: block;
  transform: openBackdrop 7s ease-in-out forwards;
}

.BackdropClosed {
  display: none;
  transform: closeBackdrop 7s ease-in-out forwards;
}

@keyframes openBackdrop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 50%;
  }
}

@keyframes closeBackdrop {
  0% {
    opacity: 70%;
  }
  100% {
    opacity: 0%;
  }
}
