.ctr {
  position: relative;
  top: 4rem;
  left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  /* padding-top: 6rem; */
  padding-bottom: 0;
  margin-bottom: 0;
  /* background-color: red; */
  margin-bottom: 0;
}

.emailFormContainer {
  position: relative;
  width: 190%;
  left: 40%;
  border-radius: 1rem;
  background-color: rgb(0, 0, 0, 0.6);
  padding: 1.7rem;
  /* margin-bottom: 2rem; */
}
.emailForm {
  /* width: 100%; */
  color: white;
  display: flex;
  flex-direction: column;
}
.emailForm input,
textarea {
  border-radius: 0.7rem;
  padding: 2%;
  margin: 2%;
}

.Light {
  color: black;
  /* padding: 1rem 0 1rem 0; */
}

#showButtonInPc {
  display: block;
}
#showButtonInMobiles {
  display: none;
}

.Dark {
  color: white;
  /* padding: 1rem 0 1rem 0; */
}
.contact-form {
  margin: 0;
  padding: 0;
  height: 60vh;
}

.resume-section p {
  position: relative;
  right: 60%;
  font-size: 1.3rem;
  margin-bottom: 5rem;
  margin-top: 8rem;
}
.resume-section h1 {
  position: relative;
  right: 60%;
  font-size: 3rem;
  margin-bottom: 3rem;
}
.contact-form h1 {
  position: relative;
  left: 40%;
  font-size: 3rem;
  margin-bottom: 3rem;
  /* padding-left: 13rem; */
  /* background-color: blue; */
}

.download-cv {
  margin-bottom: 10%;
}
.download-cv h1 {
  padding-left: 2.5rem;
}

section a {
  justify-content: center;
}
.seperatorVerDark {
  height: 25rem;
  border-left: 10px solid white;
  border-radius: 5rem 0 5rem 0;
}
.seperatorVerLight {
  height: 25rem;
  border-left: 10px solid black;
  border-radius: 5rem 0 5rem 0;
}

.contact-details {
  font-size: 1.3rem;
  padding-top: 2.5rem;
}
.contact-details p {
  padding: 1rem 0 1rem 0;
}

.socialHandles {
  position: absolute;
  padding-top: 1%;
  bottom: 7%;
}

.fadeInAnim {
  animation: fadeInAnim 1s ease-in-out;
}
.anim-lineUp {
  animation: anim-lineUp 2s ease-in-out;
}

@keyframes fadeInAnim {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media screen and (max-width: 1023px) {
  .ctr {
    display: flex;
    flex-direction: column;
    color: white;
    /* background-color: red; */
    align-items: center;
    margin: 0;
    /* height: 70vh; */
    width: 90vw;

    /* position: relative; */
    top: 2rem;
    /* left: 1rem; */
    /* display: flex; */
    /* flex-direction: row; */
    /* align-content: center; */
    color: white;
    /* padding-top: 6rem; */
    padding-bottom: 0;
    margin-bottom: 0;
    /* background-color: red; */
    margin-bottom: 0;
  }

  .resume-section {
    position: inherit;
    /* background-color: blue; */
    margin-bottom: 5rem;
    padding: 0;
    right: 0;
  }
  #showButtonInPc {
    display: none;
  }
  #showButtonInMobiles {
    display: block;
  }
  .contact-form {
    position: inherit;
    width: 90vw;
    /* background-color: yellow; */
    margin: 0;
    padding: 0;
  }

  .emailFormContainer {
    margin: 0%;
    padding: 4%;
    left: 0;
    width: 90vw;
    /* background-color: green; */
  }
  .contact-form h1 {
    /* background-color: orange; */
    position: relative;
    left: 0;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  section a {
    justify-content: center;
  }

  .socialHandles {
    position: relative;
    margin-bottom: 3%;
  }

  .resume-section p {
    position: relative;
    right: 0%;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    margin-top: 0rem;
  }
  .resume-section h1 {
    position: relative;
    right: 0%;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 321px) {
  .resume-section {
    margin-top: 0;
    padding-top: 0%;
    /* background-color: yellow; */
  }
  .resume-section h1 {
    margin-top: 0;
    padding-top: 0%;
    /* background-color: yellow; */
  }
  
}
@media screen and (max-width: 426px) {
  .resume-section {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 769px) {
  .resume-section {
    /* background-color: blue; */
    margin-top:1rem;
  }
}
@media screen and (min-width: 768px) {
  .resume-section {
    /* background-color: blue; */
    margin-top:9rem;
  }
  .ctr{
    /* background-color: red; */
    justify-content: center;
    left: 2.7rem;
  }
}
@media screen and (max-width: 1025px) {
  .resume-section {
    /* background-color: blue; */
    margin-right: 2rem;
    /* margin-left: 2rem; */
    padding: 0;
    right: 0;
    left: 0;
  }
  
  .resume-section p {
    /* background-color: blue; */
    /* margin-right: 2rem; */
    padding: 0;
    right: 0;
    left: 0;
  }
  .resume-section a {
    /* background-color: blue; */
    /* margin-right: 2rem; */
    padding: 0;
    right: 0;
    left: 0;
  }
  .resume-section h1 {
    /* background-color: blue; */
    margin-right: 2rem;
    padding: 0;
    right: 0;
    left: 0;
  }
}
@media screen and (min-width: 1024px) {
  .ctr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 91vw;
  }
  .resume-section {
    /* background-color: blue; */
    margin:0;
    right: 10rem;
    /* margin-right: 5rem; */
    padding-right: 5rem;
  }
  
  .resume-section p {
    /* background-color: red; */
    /* margin-right: 2rem; */
    padding: 0;
    right: 0;
    left: 0;
  }
  .resume-section a {
    /* background-color: blue; */
    /* margin-right: 2rem; */
    padding: 0;
    right: 0;
    left: 0;
  }
  .resume-section h1 {
    /* background-color: blue; */
    margin-right: 2rem;
    padding: 0;
    right: 0;
    left: 0;
  }

  .emailFormContainer{
    /* background-color: green; */
    width: 180%;
    left: 6rem;
  }
  .contact-form h1 {
    /* background-color: red; */
    /* width: 160%; */
    left: 6rem;
  }
}
